USE [master]
GO
/****** Object:  Database [UsuarioSoftnet]    Script Date: 7/05/2024 08:23:38 ******/
CREATE DATABASE [UsuarioSoftnet]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UsuarioSoftnet', FILENAME = N'C:\SQLData\UsuarioSoftnet.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'UsuarioSoftnet_log', FILENAME = N'C:\SQLData\UsuarioSoftnet_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UsuarioSoftnet].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UsuarioSoftnet]
GO
/****** Object:  Table [dbo].[DET_USUARIO_EMPRESA]    Script Date: 7/05/2024 08:23:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DET_USUARIO_EMPRESA](
	[COD_EMPRESA] [int] NOT NULL,
	[COD_USUARIO] [int] NOT NULL,
	[VAR_CARGO] [varchar](50) NULL,
	[VAR_COREO] [varchar](40) NULL,
	[INT_ESTADO] [int] NULL,
	[VAR_NOM_IMAGEN] [varchar](50) NULL,
	[INT_FLG_ELIMINADO] [int] NULL,
	[FEC_REGISTRO] [datetime] NULL,
	[FEC_MODIFICACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_EMPRESA] ASC,
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAE_USUARIO]    Script Date: 7/05/2024 08:23:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAE_USUARIO](
	[COD_USUARIO] [int] IDENTITY(1,1) NOT NULL,
	[TIP_DOCUMENT] [varchar](10) NULL,
	[VAR_DOC_IDENTIDAD] [varchar](15) NULL,
	[VAR_APELLIDOS] [varchar](50) NULL,
	[VAR_NOMBRES] [varchar](50) NULL,
	[VAR_PASSWORD] [varchar](50) NULL,
	[VAR_NUM_TELEFONO] [varchar](15) NULL,
	[INT_FLG_ELIMINADO] [int] NULL,
	[FEC_REGISTRO] [datetime] NULL,
	[FEC_MODIFICACION] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[COD_USUARIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[DET_USUARIO_EMPRESA] ([COD_EMPRESA], [COD_USUARIO], [VAR_CARGO], [VAR_COREO], [INT_ESTADO], [VAR_NOM_IMAGEN], [INT_FLG_ELIMINADO], [FEC_REGISTRO], [FEC_MODIFICACION]) VALUES (1, 1, N'GERENTE', N'JUANA@GMAIL.COM', 1, N'fotoTamañoCarnet', 1, CAST(N'2024-05-06T10:56:15.170' AS DateTime), CAST(N'2024-05-06T10:56:15.170' AS DateTime))
INSERT [dbo].[DET_USUARIO_EMPRESA] ([COD_EMPRESA], [COD_USUARIO], [VAR_CARGO], [VAR_COREO], [INT_ESTADO], [VAR_NOM_IMAGEN], [INT_FLG_ELIMINADO], [FEC_REGISTRO], [FEC_MODIFICACION]) VALUES (1, 3, N'SUPERVISORA VENTAS', N'HILDAT@GMAIL.COM', 1, N'fotoTamañoCarnet', 1, CAST(N'2024-05-06T10:56:15.170' AS DateTime), CAST(N'2024-05-06T10:56:15.170' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[MAE_USUARIO] ON 

INSERT [dbo].[MAE_USUARIO] ([COD_USUARIO], [TIP_DOCUMENT], [VAR_DOC_IDENTIDAD], [VAR_APELLIDOS], [VAR_NOMBRES], [VAR_PASSWORD], [VAR_NUM_TELEFONO], [INT_FLG_ELIMINADO], [FEC_REGISTRO], [FEC_MODIFICACION]) VALUES (1, N'DNI', N'999999999', N'GUZMAN TORRES', N'JUAN ALONZO', N'admin', N'123456789', 1, CAST(N'2024-05-06T10:54:27.493' AS DateTime), CAST(N'2024-05-06T10:54:27.493' AS DateTime))
INSERT [dbo].[MAE_USUARIO] ([COD_USUARIO], [TIP_DOCUMENT], [VAR_DOC_IDENTIDAD], [VAR_APELLIDOS], [VAR_NOMBRES], [VAR_PASSWORD], [VAR_NUM_TELEFONO], [INT_FLG_ELIMINADO], [FEC_REGISTRO], [FEC_MODIFICACION]) VALUES (2, N'DNI', N'999999999', N'ZAVALA JULCA', N'HOHA TERESA', N'usuario', N'123456789', 1, CAST(N'2024-05-06T10:54:27.493' AS DateTime), CAST(N'2024-05-06T10:54:27.493' AS DateTime))
INSERT [dbo].[MAE_USUARIO] ([COD_USUARIO], [TIP_DOCUMENT], [VAR_DOC_IDENTIDAD], [VAR_APELLIDOS], [VAR_NOMBRES], [VAR_PASSWORD], [VAR_NUM_TELEFONO], [INT_FLG_ELIMINADO], [FEC_REGISTRO], [FEC_MODIFICACION]) VALUES (3, N'DNI', N'888888888', N'TARAZONA CUELLAR', N'HILDA TOMASA', N'vendedora', N'987654321', 1, CAST(N'2024-05-06T10:54:27.493' AS DateTime), CAST(N'2024-05-06T10:54:27.493' AS DateTime))
SET IDENTITY_INSERT [dbo].[MAE_USUARIO] OFF
GO
ALTER TABLE [dbo].[DET_USUARIO_EMPRESA]  WITH CHECK ADD FOREIGN KEY([COD_USUARIO])
REFERENCES [dbo].[MAE_USUARIO] ([COD_USUARIO])
GO
USE [master]
GO
